:root {
    --fontsize-menu: 2rem;
    --padding-menu: 8px;
    --gap-menu: 8px;
    --border-menu: 3px;
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('../font/Montserrat-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../font/Montserrat-SemiBold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
}

h2 {
    font-size: 2rem;
    font-family: 'Montserrat-MediumItalic', sans-serif;
    text-align: center;
    margin: 1rem 0;
}

h3 {
    font-size: 1.25rem;
    font-family: 'Montserrat-MediumItalic', sans-serif;
}

p {
    font-size: 1rem;
    font-family: 'Montserrat-SemiBold', sans-serif;
}

body {
    font-family: sans-serif;
    background-color: rgb(43, 0, 68);
    color: white;
    background: linear-gradient(to right, #370654, #12031d 20%, #12031d 80%, #370654);
}

nav {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    font-size: var(--fontsize-menu);
    background-color: #000000;

    border: var(--border-menu) solid grey;
    border-right: 0;
    border-radius: 16px 0 0 16px;

    height: calc((var(--fontsize-menu) + var(--padding-menu)*2)*3 + var(--gap-menu)*2 + var(--border-menu)*2);
    overflow: hidden;
}
nav .menu {
    position: relative;
    height: 100%;
    width: 100%;
}
nav #options__menu {
    list-style: none;
    display: grid;
    gap: var(--gap-menu);
    transform: translateY(calc(((var(--fontsize-menu) + var(--padding-menu)*2) + var(--gap-menu))*1));
    transition: transform 0.5s linear;
    z-index: 1;
}
nav li, #up, #down {
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav #up, nav #down {
    position: absolute;
    background-color: black;
    left: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
}
nav #up {
    top: 0;
    box-shadow: 0px 4px 6px 6px rgb(0 0 0 / 30%);
}
nav #down {
    bottom: 0;
    box-shadow: 0px -6px 6px 6px rgb(0 0 0 / 30%);
}
nav span {
    display: none;
}

main > section {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 16px;
}

#portada, #sobre-mi, #contacto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.portada__container {
    text-align: center;
}
#sobre-mi {
    flex-direction: column;
}
#sobre-mi p {
    text-align: center;
    margin-bottom: 16px;
}
.cv__container {
    display: flex;
    justify-content: center;
    gap: 16px;
}
#cv {
    background: #2b0044;
    color: white;
    padding: 16px;
    border-radius: 8px;
    border: solid 2px;
    border-top-color: #d600f8;
    border-left-color: #d600f8;
    border-bottom-color: #a101ff;
    border-right-color: #a101ff;
    transition: background 1s linear;
    font-size: 1.15rem;
}

#cv:hover {
    background: linear-gradient(to right, #d600f8, #a101ff);
}

.container__redes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card__proyect {
    color: white;
    text-decoration: none;
    position: relative;
    width: calc((100% - 16px)/4 - 16px);
    height: fit-content;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background-color: #470c44a1;
    border: 2px solid rgba(0, 0, 0, 0.301);
    border-radius: 16px;
    padding: 16px;
    margin: 8px;
    transition: transform 0.5s;
}
.card__proyect:hover {
    transform: scale(1.05);
}
.proyect__container {
    display: flex;
}
.card__proyect:nth-child(even){
    margin-top: 75px;
}
.card__proyect:nth-child(odd){
    margin-bottom: 75px;
}
.card__proyect img {
    width: 100%;
    border-radius: 16px;
}
.card__proyect i {
    font-size: 1.25em;
}
.card__proyect .lenguajes__container {
    display: flex;
    gap: 4px;
}
.card__proyect p {
    font-size: 0.9rem;
}

#contacto {
    position: relative;
    flex-direction: column;
    text-align: center;
}
#contacto i {
    font-size: 10rem;
    cursor: pointer;
    color: white;
}
#contacto footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.view__icons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 2rem;
}

#icons{
    font-size: 2em;
}

.fa-js{
    color: #f0db4f;
}

.fa-html5{
    color: #fc490b;
}

.fa-css3{
    color: #2864f0;
}

.fa-laravel{
    color: #f55247;
}

.fa-php{
    color: #777bb4;
}

.fa-linkedin{
    color: #0077b5;
}
.fa-github{
    color: #6e5494;
}

/* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    display: none;
}

/* Para Firefox */
html {
    scrollbar-width: none;
}

/* Opcional: Para que no haya desplazamiento horizontal si el contenido se desborda */
body {
    overflow-x: hidden;
}


.swal2-html-container{
    max-height: 80vh;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-wrapper img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}


@keyframes rotateDiamond {
    0% { content: url('../icons/diamond_front.svg'); }
    50% { content: url('../icons/diamond_side_right.svg'); }
    100% { content: url('../icons/diamond_front.svg'); }
}

.icon-diamond img {
    position: absolute;
    animation: rotateDiamond 1s infinite;
    text-align: center;
}

.icon-diamond__bottom img {
    transform: rotate(16deg);
    bottom: 25%;
    right: 10%;
}

.icon-diamond__top img {
    transform: rotate(calc(180deg - 16deg));
    top: 25%;
    left: 10%;
}